<div class="container">
  <p id="notice"><%= notice %></p>
  <% @entries.each do |entry| %>
  <h1 class="blog-title">
    <%= link_to entry.title, entry %>
  </h1>
  <em><small>Posted: <%= entry.created_at.strftime("%m-%d-%Y") %>, <%= "#{time_ago_in_words(entry.created_at)} ago" %></small></em>
  <p class="blog-body">
    <%= link_to entry.content, entry %>
  </p>
  <br>
  <% if signed_in? && current_user.admin? %>
  <%= link_to 'Show', entry %>
  <%= link_to 'Edit', edit_entry_path(entry) %>
  <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
  <% end %>
</div>

<br>

<% if signed_in? && current_user.admin? %>
<%= link_to 'New Entry', new_entry_path %>
<% end %>
