<div class="container">
  <% provide(:title, @entry.title) %>
  <p id="notice"><%= notice %></p>
  <%= link_to 'Back', entries_path, class: "btn btn-dark", style: "color:white;" %>
  <div class="blog-page">

    <h1>
      <%= @entry.title %>
    </h1>
    <em><small>Posted: <%= @entry.created_at.strftime("%m-%d-%Y") %>, <%= "#{time_ago_in_words(@entry.created_at)} ago" %></small></em>

    <p class="blog-body">
      <%= @entry.content %>
    </p>
    <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_entry_path(@entry), class: "btn btn-dark" %>
    <%= link_to 'Destroy', @entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
