<p id="notice"><%= notice %></p>
<% provide(:title, "Artwork") %>

<div class="prod-cards">
  <div class="search-bar">
    <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
    <%= form.text_field :q, id: 'q', value: params[:q], placeholder: "Search Paintings", class: "form-control mr-sm-2" %>
    <br>
    <%= form.submit 'Search', class: "btn btn-dark" %>
    <% end %>
  </div>
  <% @products.each do |product| %>
  <%= render product %>
  <% end %>
</div>
<br>
<% if signed_in? && current_user.admin? %>
<%= link_to 'New Product', new_product_path, class: "btn btn-dark", style: "color:white; margin: 2%;" %>
<% end %>
