<div class="container" align="center">
  <p id="notice"><%= notice %></p>
  <% provide(:title, @product.name) %>

  <%= link_to 'Back', products_path, class: "btn btn-dark", style: "float:left; color:white;" %>
  <div class="paint" style="width: auto;">
    <%= image_tag(@product.image_url, class: "img-fluid card-img-top") %>
    <div class="card-body">
      <h1 class="card-title"><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <h3 class="card-title"><%= number_to_currency(@product.price/100.to_f) %></h3>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
      <% if signed_in? && current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-dark" %>
      <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
