<nav class="navbar">
  <div>
    <h1><%= link_to 'Kim Gagne', root_path, id: "logo" %></h1>
    <p class="lead">Artist &bull; Painter</p>
  </div>
  <ul class="nav mr-auto">
    <li class="nav-item">
      <%= link_to 'Products', products_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Blog', entries_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'About', about_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Contact', contact_path, class: "nav-link" %>
    </li>
  </ul>
  <div class="search-bar">
    <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
    <div class="input-group-append">
    <%= form.text_field :q, id: 'q', value: params[:q], placeholder: "Search Paintings", class: "form-control mr-sm-2" %>
    <br>
    <%= form.submit 'Search', class: "btn btn-dark" %>
  </div>
    <% end %>
  </div>
</nav>
